<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="../css/estilo.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comforter&family=Montserrat:wght@200&display=swap" rel="stylesheet">
</head>
<body>

    <!-- inicio header -->
    <header>

        <div class="headerLogo">
            <a href="../index.html"> <img src="../assets/img/logochico.png" alt="logo"> </a>
        </div>

        <nav class="headerNav">

            <ul class="navBackground">
                
                <li class="navItem navItemBackground"> <a href="../index.html" class="navItemColor"> Inicio </a> </li>
                <li class="navItem navItemBackground"> <a href="nosotras.html" class="navItemColor"> Nosotras </a> </li>
                <li class="navItem navItemBackground"> <a href="productos.html" class="navItemColor"> Productos </a> </li>
                <li class="navItem navItemBackground"> <a href="dondeEstamos.html" class="navItemColor"> Donde estamos </a> </li>
                <li class="navItem navItemBackground"> <a href="#" class="navItemColor"> Contacto </a> </li>
                
            </ul>

        </nav>

    </header>
    <!-- fin header -->

    <!-- inicio main -->
    <main>


        <h1>
            A traves de este espacio nos podes escribir tu consulta, nos pondremos en contacto contigo a la brevedad!
            <br><br>
          

        <form action="#" class="formularioContacto"> 


            <label for="nombre">Nombre:
                <input type="text" name="nombre">

            </label>
            <br>
            <label for="apellido">Apellido:
                <input type="text" name="apellido">

            </label>
            <br>
            <label for="mail">Mail:
                <input type="mail" name="mail">

            </label>
            <br>
            <label for="telefono">Telefono:
                <input type="number" name="telefono">

            </label>

         

            <div> Quiero que me contacten por mail:
                <input type="radio" name="medio" value="mail">

            </div>
            <div> Quiero que me contacten por telefono
                <input type="radio" name="medio" value="telefono">

            </div>
            
            <div> Consulta:

                <textarea name="" id="" cols="120" rows="5"></textarea>

            </div>
            <div> Acepto que utilizaran mi mail o telefono para ponerse en contacto conmigo
                <input type="checkbox" name="acepto">
            </div>
            <br>
            <div>
                <input type="submit" value="Enviar!" class="boton">
                <input type="reset" value="Borrar campos" class="boton">
            </div>
            <br><br>
        </form>

    </main>
    <!-- fin main -->

    <!-- inicio footer  -->
    <footer class="footer">

        <h3> <a href="https://www.instagram.com/magus_postres/" target="_blanck"><img src="../assets/img/instagram.png" alt="inst"> </a>  No te olvides de seguirnos en instagram</h3>
        <h3> <img src="../assets/img/whatsapp.png" alt="wapp"> Tambien nos podes encontrar en whatsapp con el numero 099999999 </h3>
    </footer>
    <!-- fin footer -->

</body>
</html>