<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donde estamos</title>
    <link rel="stylesheet" href="../css/estilo.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comforter&family=Montserrat:wght@200&display=swap" rel="stylesheet">
</head>
<body>

    <!-- inicio header -->
    <header>

        <div class="headerLogo">
            <a href="../index.html"> <img src="../assets/img/logochico.png" alt="logo"> </a>
        </div>
        <nav class="headerNav">

            <ul class="navBackground">
                
                <li class="navItem navItemBackground"> <a href="../index.html" class="navItemColor"> Inicio </a> </li>
                <li class="navItem navItemBackground"> <a href="nosotras.html" class="navItemColor"> Nosotras </a> </li>
                <li class="navItem navItemBackground"> <a href="productos.html" class="navItemColor"> Productos </a> </li>
                <li class="navItem navItemBackground"> <a href="#" class="navItemColor"> Donde estamos </a> </li>
                <li class="navItem navItemBackground"> <a href="contacto.html" class="navItemColor"> Contacto </a> </li>
            </ul>

    </nav>


    </header>
    <!-- fin header -->

    <!-- inicio main -->
    <main>

        <h3> Podes encontrar alguno de nuestros productos en estas cafeterias de Montevideo: </h3>
            <div class="locales"> Alma Cafe: <br> <br> </div>
            
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13089.945183209204!2d-56.1881048!3d-34.8942439!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe979fbce9959f652!2sAlma%20caf%C3%A9!5e0!3m2!1sen!2suy!4v1643228100051!5m2!1sen!2suy" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            <br><br>
            <div class="locales"> Dulce amor Cafe: <br><br> </div>

            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13088.179666087968!2d-56.1473205!3d-34.9053223!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe1b1b6d49912bb32!2sDulce%20Amor!5e0!3m2!1sen!2suy!4v1643228207172!5m2!1sen!2suy" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
           
            <br> <br>

            <div>
                <p>Proximamente esperamos contar con un local propio para que todos puedan disfrutar de nuestras delicias!
                    <br> <br>
                    En algunas ocasiones visitamos ferias gastronomicas, para estar al tanto de todas estas novedades seguinos en instagram!
                <p>    
            </div>
        
        


    </main>
    <!-- fin main -->

    <!-- inicio footer  -->
    <footer class="footer">

        <h3> <a href="https://www.instagram.com/magus_postres/" target="_blanck"><img src="../assets/img/instagram.png" alt="inst"> </a>  No te olvides de seguirnos en instagram</h3>
        <h3> <img src="../assets/img/whatsapp.png" alt="wapp"> Tambien nos podes encontrar en whatsapp con el numero 099999999 </h3>
    </footer>
    <!-- fin footer -->

</body>
</html>