<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotras</title>
    <link rel="stylesheet" href="../css/estilo.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comforter&family=Montserrat:wght@200&display=swap" rel="stylesheet">
</head>
<body>

    <!-- inicio header -->
    <header>

        <div class="headerLogo">
            <a href="../index.html"> <img src="../assets/img/logochico.png" alt="logo"> </a>
        </div>

        <nav class="headerNav">

            <ul class="navBackground">
                
                <li class="navItem navItemBackground"> <a href="../index.html" class="navItemColor" class="navItem"> Inicio </a> </li>
                <li class="navItem navItemBackground"> <a href="#" class="navItemColor" class="navItem"> Nosotras </a> </li>
                <li class="navItem navItemBackground"> <a href="productos.html" class="navItemColor" class="navItem"> Productos </a> </li>
                <li class="navItem navItemBackground"> <a href="dondeEstamos.html" class="navItemColor" class="navItem"> Donde estamos </a> </li>
                <li class="navItem navItemBackground"> <a href="contacto.html" class="navItemColor" class="navItem"> Contacto </a> </li>
            </ul>

        </nav>

        
    </header>
    <!-- fin header -->
    
    <!-- inicio main -->
    <main>

        <h1> Somos Magui y Agus! </h1>
            
        <p> 
            
            Dos hermanas apasionadas por la cocina. Siempre nos gusto cocinar para nuestra familia, y hace unos anios que tambien lo hacemos para 
            nuestros clientes!! <br> <br>
            
            Continuamente se suman clientes nuevos, pero tambien se mantienen los clientes mas fieles que nos eligen una y otra vez!
            
            <br> <br>
             
            Cocinamos con mucho amor todos nuestros productos!
            
            Si aun no los probaste no esperes mas!! No te vas a arrepentir :) 
            <br><br>
            Apreta <a href="contacto.html"> AQUI </a> para hacer tu pedido ya mismo!!
        
        </p>

    </main>
    <!-- fin main -->

    <!-- inicio footer  -->
    <footer class="footer">

        <h3> <a href="https://www.instagram.com/magus_postres/" target="_blanck"><img src="../assets/img/instagram.png" alt="inst"> </a>  No te olvides de seguirnos en instagram</h3>
        <h3> <img src="../assets/img/whatsapp.png" alt="wapp"> Tambien nos podes encontrar en whatsapp con el numero 099999999 </h3>
    </footer>
    <!-- fin footer -->

</body>
</html>