<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="../css/estilo.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comforter&family=Montserrat:wght@200&display=swap" rel="stylesheet">
</head>
<body>

    <!-- inicio header -->
    <header>

        <div class="logo">
            <a href="../index.html"> <img src="../assets/img/logochico.png" alt="logo" class="headerLogo"> </a>
        </div>
        
        <nav class="headerNav">

            <ul class="navBackground">
                
                <li class="navItem navItemBackground"> <a href="../index.html" class="navItemColor"> Inicio </a> </li>
                <li class="navItem navItemBackground"> <a href="nosotras.html" class="navItemColor"> Nosotras </a> </li>
                <li class="navItem navItemBackground"> <a href="#" class="navItemColor"> Productos </a> </li>
                <li class="navItem navItemBackground"> <a href="dondeEstamos.html" class="navItemColor"> Donde estamos </a> </li>
                <li class="navItem navItemBackground"> <a href="contacto.html" class="navItemColor"> Contacto </a> </li>
            </ul>

        </nav>


    </header>
    <!-- fin header -->
    
    <!-- inicio main -->
    <main>

        <h1>
            Las tortas mas ricas las encontras en Magus Postres!! Si estas pensando en otra no dudes en consultarnos a traves de nuestro formulario de <a href="contacto.html"> contacto! </a>
        </h1>
        <br>
        <h4>A continuacion te presentamos todos nuestros productos! A lo ultimo vas a encontrar info de precios y porciones!</h4>

        <div class="producto1">
        <h3 class="productos">Torta Rogel: consta de sucesivas galletas neutras alternando con abundante dulce de leche y finalmente cubierto por una capa de merengue. </h3>

        <img src="../assets/img/prodrogel.jpg" alt="rogel" class="imgProd">
        </div>
        <br><br>

        <div class="producto2">
        <h3 class="productos"> Lemon Pie: consiste en una crujiente base de masa quebrada, una cremosa crema de limón y se termina con un merengue italiano. </h3>

        <img src="../assets/img/prodlemon.jpg" alt="lemon" class="imgProd">
        </div>
        <br><br>
        <div class="producto3">
        <h3 class="productos"> Torta mousse: tarta suave, que se deshace en la boca, pero en su interior tiene una mousse exquisito de dulce de leche con banio contundente de chocolate. </h3>

        <img src="../assets/img/prodmousse.jpg" alt="mousse" class="imgProd">
        </div>
        <br><br>

        <div class="tabla">
        <table border="10" cellpadding="20" cellspacing="2">

            <tr>
                <th>Producto</th>
                <th>Precio</th>
                <th>Porciones</th>

            </tr>

            <tr>

                <td>Torta Rogel</td>
                <td>$1500</td>
                <td>25</td>

            </tr>

            <tr>

                <td>Lemon Pie</td>
                <td>$950</td>
                <td>12</td>

            </tr>

            <tr>

                <td>Torta Mousse</td>
                <td>$1100</td>
                <td>15</td>

            </tr>

        </table>
        </div>

    </main>
    <!-- fin main -->

    <!-- inicio footer  -->
    <footer class="footer">

        <h3> <a href="https://www.instagram.com/magus_postres/" target="_blanck"><img src="../assets/img/instagram.png" alt="inst"> </a>  No te olvides de seguirnos en instagram</h3>
        <h3> <img src="../assets/img/whatsapp.png" alt="wapp"> Tambien nos podes encontrar en whatsapp con el numero 099999999 </h3>
    </footer>
    <!-- fin footer -->

</body>
</html>